@import "./_variables";
@import "./_panda";
@import "./_btn-link";
@import "./_text-effects";
html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 80vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
}
